html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    }
  
    body {
      background-color: #F7FBFF;
    }

  .calculator {
    border: 1px solid #ccc;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #e6e6e6;
  }
  
  .calculator-display {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
  } 
  
  button {
    height: 60px;
    border-radius: 1px;
    border: .1px solid #666666;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
  }
  
  button:hover {
    background-color: #f2f2f2;
  }
  
  .operator {
    color: #337cac;
  }
  
  
  .equal-sign {
    background-color: #ff7033;
    color: #fff;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
  }
  
  .equal-sign:hover {
    background-color: #ff824d;
  }

  .calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }